<div class="container-fluid">
    <h1>This is the map view page!</h1>
    <div class="row">
        <div class="col-md-10">
            <ul class="maps">
                <li ng-repeat="map in maps">
                    <a href="#/maps/{{map.id}}"><h2>{{map.name}}</h2>
                        <p>{{map.description}}</p>
                        <!-- <ul ng-repeat="point in map.points">
                                <li>Point number: {{point.order}}</li>
                                <li>Latitude: {{point.lat}}</li>
                                <li>Longitude: {{point.lng}}</li>
                                <br>

                                

                        </ul> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

