<div class="container-fluid">
    <h1>This is the map view page!</h1>
    <div class="row">
        <div class="col-md-10">
            <ul class="maps">
                <li ng-repeat="map in maps">
                    <h2>{{map.name}}</h2>
                    <p>{{map.description}}</p>
                    <map class="polygon-map" points="map.points" map-lat="map.lat" map-lng="map.lng">
                    <!-- <ul ng-repeat="point in map.points">
                            <li>Point number: {{point.order}}</li>
                            <li>Latitude: {{point.lat}}</li>
                            <li>Longitude: {{point.lng}}</li>
                            <br>

                            

                    </ul> -->
                </li>
            </ul>
        </div>
    </div>
</div>

